In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [3]:
data = pd.read_csv('grading_results.csv')
data.head()

,student,filename,scores,feedback
0,aniello--elizabeth,anielloelizabeth_8509_715930_Personal Statemen...,"{""Accuracy"": 3, ""Argument"": 3, ""Conclusions & ...","{""Accuracy"": ""The essay demonstrates a deep un..."

In [19]:
df = pd.DataFrame(data[['scores']])
df.head()

                                              scores
0  {"Accuracy": 3, "Argument": 3, "Conclusions & ...

In [35]:
# Load your pickled results
with open("grading_results.pkl", "rb") as f:
    data = pickle.load(f)

# Convert to DataFrame
df = pd.DataFrame(data)

In [36]:
df

,student,filename,Accuracy_score,Accuracy_feedback,Argument_score,Argument_feedback,Conclusions & Extensions_score,Conclusions & Extensions_feedback,Mechanics_score,Mechanics_feedback
0,aniello--elizabeth,anielloelizabeth_8509_715930_Personal Statemen...,3,The essay demonstrates a strong understanding ...,2,"The essay presents logically sequenced ideas, ...",3,The essay effectively explains how the SLO was...,3,The essay is well-written with no noticeable e...

In [37]:
df['total_score'] = df['Accuracy_score'] + df['Argument_score'] + df['Conclusions & Extensions_score'] + df['Mechanics_score']
df

,student,filename,Accuracy_score,Accuracy_feedback,Argument_score,Argument_feedback,Conclusions & Extensions_score,Conclusions & Extensions_feedback,Mechanics_score,Mechanics_feedback,total_score
0,aniello--elizabeth,anielloelizabeth_8509_715930_Personal Statemen...,3,The essay demonstrates a strong understanding ...,2,"The essay presents logically sequenced ideas, ...",3,The essay effectively explains how the SLO was...,3,The essay is well-written with no noticeable e...,11

In [ ]:
df[['last_name', 'first_name']] = df['student'].str.split('--', expand=True)

simple_df = df[['first_name', 'last_name', 'total_score']]

,filename,Accuracy_score,Accuracy_feedback,Argument_score,Argument_feedback,Conclusions & Extensions_score,Conclusions & Extensions_feedback,Mechanics_score,Mechanics_feedback,total_score,last_name,first_name
0,anielloelizabeth_8509_715930_Personal Statemen...,3,The essay demonstrates a strong understanding ...,2,"The essay presents logically sequenced ideas, ...",3,The essay effectively explains how the SLO was...,3,The essay is well-written with no noticeable e...,11,aniello,elizabeth